.faq-question {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  cursor: pointer;
}

.faq-question:focus {
  text-decoration: underline;
}

.faq-answer {
  display: none;
}

.faq-list {
  display: none;
}

.open {
  display: block;
}
