.description {
  width: 100%;
  padding: 25px 20px;
}

.description-text {
  width: 37%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
}

.description-highlight {
  font-size: 17px;
  font-weight: 800;
}

.testimonials {
  background-color: #fff;
}

.testimonials-title {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 90px;
}