.divider {
    width: 100%;
    padding: 37px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF9F5;
}

.text {
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
    color: #000;
    font-weight: 300;
    line-height: 1.75;
}