.links-container {
  min-height: 570px;
  text-align: center;
}

.main-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.services {
  margin: 0 auto;
  padding: 50px 0 50px;
  display: grid;
  grid-template-columns: minmax(280px, 560px) minmax(280px, 560px);
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 100px;
}

.about {
  background-color: #FAF9F5;
}

.about-image {
  display: block;
  margin: 0 auto 50px;
}

.about-list {
  margin: 0 auto;
  width: 560px;
  text-align: center;
}

.about-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.about-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 45px;
}

.list {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.list-title {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 3px;
}

.list-item {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.list-item::before{
  content: '▪️';
  position: relative;
  left: -7px;
}