.page-header {
  min-width: 320px;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  font-size: 15px;
  background-color: #fdfcfa;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-wrap,
.social-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-wrap {
  margin-right: 60px;
}

.nav-link {
  margin: 0 15px;
  font-weight: 700;
  color: #000;
}

.nav-link:first-of-type {
  padding-top: 1px;
}

.link-active {
  margin: 0 15px;
  font-weight: 700;
  color: #555;
}

.nav-link:hover {
  color: #444;
}

.nav-link:focus-visible {
  color: #444;
  text-decoration: underline;
}

.nav-link:focus-visible > img {
  outline: 2px solid #555;
}

.nav-link:focus:not(:focus-visible) {
  outline: none;
  text-decoration: none;
}

.nav-link:focus:not(:focus-visible) > img {
  outline: none;
}

.logo {
  display: block;
  width: 144px;
  height: 80px;
}

.social-link {
  display: block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #444;
}
