.details-btn {
    width: 135px;
    height: 45px;
    margin: 20px 2px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;
}

.details-btn:hover,
.details-btn:focus {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.details-btn:active {
    transform: scale(0.97);
}

.buy-btn {
    width: 105px;
    height: 45px;
    margin: 20px 2px;
    background-color: #00BF20;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
}

.buy-btn:hover,
.buy-btn:focus {
    background-color: #333;
}

.buy-btn:active {
    transform: scale(0.97);
}